################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PockerBackend/v17
/Poker.API/obj
/Poker.API/bin