<div class="container user-container">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let user of users" selected>
            <div class="online"></div>
            <app-user [user] = "user.username"></app-user>
            <span class="spacer"></span>
            <mat-card *ngIf="isCardsDisplayed()">{{user.selectedCard}}</mat-card>
            <mat-card *ngIf="!isCardsDisplayed()">X</mat-card>
        </mat-chip>
    </mat-chip-list>
</div>